.restaurant-card-container {
  width: calc(100% - 40px);
  background-color: #e1e1e1;
  border-radius: 30px;
  padding: 20px;
}

.restaurant-card-skeleton-image {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 330px;
  margin: 10px 0;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // background-color: pink;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
}

.restaurant-card {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 350px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // background-color: pink;
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: center;

  &:active {
    opacity: 0.9;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
  }
}

.content-container {
  width: 100%;
  height: auto;
  // padding: 16px;
  border-radius: 30px;
}

.restaurant-name {
  font-size: 36px;
  font-weight: bold;
  color: #494949;
  margin: 10px 20px 0;
}

.restaurant-rating {
  font-size: 18px;
  color: #494949;
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .rating-count {
    font-size: 22px;
    line-height: 30px;
    margin-left: 20px;
  }
}

.other-info {
  height: 48px;
  display: flex;
  flex-direction: row;
  // margin: 10px;

  .restaurant-price,
  .restaurant-distance {
    font-size: 22px;
    color: #494949;
    margin: 10px 20px;
  }
}

.restaurant-reasons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;

  .restaurant-reason {
    font-size: 24px;
    background-color: #fbf3f1;
    color: #da8b85;
    font-weight: bold;
    width: fit-content;
    padding: 0 15px;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
  }
}

.restaurant-card-skeleton {
  width: 100%;
  height: auto;
  padding: 17px 0;
  border-radius: 30px;

  .ant-skeleton {
    width: 100%;
    padding: 40px;
    height: 200px;
    background-color: #e1e1e1;
    border-radius: 30px;

    .ant-skeleton-image {
      width: 100% !important;
      height: 200px !important;
    }

    .ant-skeleton-paragraph {
      height: 100%;
      padding: 40px;
    }
  }
}